@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');
    body {
        background-color: #E7ECF0;
        font-family: 'Slabo 27px', serif;
        font-size: 20px;
    }
    h1 {
        font-weight: bold;
        text-align: center;
    }
    h2 {
        text-decoration-line: underline;
        text-align: center;
        background-color: #ADB6B6;
        color: white;
    }
    img {
        float: center;
        width: 200px;
    }
    a {
        text-decoration-line: none;
        color: #434747;
    }
    .nom {
        font-size: 40px;
        text-transform: uppercase;
        background-color: #2C91E1;
    }
    .donnée {
        border: 4px;
        background-color: #2C91E1;
        height: 1200px;
        width: 300px;
        box-shadow: 8px 6px 10px darkgrey;
        padding: 20px;
    }
    .étude {
        position: relative;
        width: 1160px;
        float: right;
        float: top;
    }
    li {
        list-style-type: square;
    }
    span {
        font-weight: bold;
    }
    li:nth-child(even) {
        list-style-type: none;
    }
    li:nth-child(odd) {
        font-weight: bold;
    }